<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
</head>
<body>
    

<img class="backgroundimg" src="../assets/7609112-a.png"style="width: 360px; opacity: 0.9; filter:contrast(100%); position: relative;">   
    

        <h1 class="megaevent" >Mega Event</h1>
 <table style="   position: absolute;">
    <tr>
        <td>
            1 August 2023
        </td>
        <td>
            Chennai
        </td>
        <td>
            <a href="#" style="background-color: #FC641B;color: white;text-decoration: none; cursor: pointer;">JOIN NOW</a>
        </td>
    </tr>
 </table>
 <img src="../assets/Group 1000003856.png" class="timeimg"><br>
 <img src="../assets/1.png"style="width: 360px;">
<h1 style="margin-left: 130px;">Guests</h1><br>
<hr style="width: 300px; margin-left: 30px;color: grey;">
<p style="color: grey; margin-left: 60px;">Proud to bring inspirational guests </p>
<br><br>
 <div class="container">
	<div class="slideshow">
		<div id="slide-1" class="slide">
			<a href="#slide-3"></a>
			<a href="#slide-2"></a>
            <img src="../assets/Rectangle 7.png">
		</div>
		<div id="slide-2" class="slide">
			<a href="#slide-1"></a>
			<a href="#slide-3"></a>
            <img src="../assets/Rectangle 2.png">
		</div>
		<div id="slide-3" class="slide">
			<a href="#slide-2"></a>
			<a href="#slide-1"></a>
            <img src="../assets/Rectangle 3.png">
		</div>
	</div>
  <div class="pagination">
    <a href="#slide-1"><span>1</span></a>
    <a href="#slide-2"><span>2</span></a>
    <a href="#slide-3"><span>3</span></a>
   
  </div>
</div>
<img src="../assets/2.png" style="margin-top: 250px;width: 360px;">


<div style="background-color: #FF8939; width:360px; height: 250px; " class="planningyourbuisness" > 
    <br> <br> <br> <br> <br> 
    <h1 style="color: white; font-size: 190%; margin-top: -40px;"><pre>
      PLANNING YOUR 
         BUISNESS </pre></h1>
       <br><br>
    
           <div style="float: left; margin-left: 35px;"><button style="color: #FF8939; background-color: white;border: 1px solid white;cursor: pointer; padding: 10px;font-size: 90%;" >Let's Talk</button></div>
           <div ><button  style="border: 1px solid white; color: white; background-color: #FF8939; padding: 10px; margin-left: 35px; font-size: 90%; cursor: pointer;" >See Our Services</button></div>
    
    </div>
   
<div class="agenda" > 
<div> 
<h1>Agenda</h1>
<br><br>
<img src="../assets/3.png" style="width:160px;float: left;" >
<button style="border: 1px solid #FF8939;  color: #FF8939; margin-left: 27px; padding: 3px;background-color: white;cursor: pointer;margin-top: 69px; ">Download Brochure  <img src="../assets/4.png" style="padding-left: 2px;"></button>
</div>
<div style="width: 360px;"> 
<div > 
<div class="time1">10:00AM</div>
<div class="time2">11:00AM</div>
<div class="time3">12:00PM</div>
<div class="time4">13:00PM</div>

</div>
<div style="float: left;"> 
<div class="timeline" ></div>
<div class="circle1" ></div>
<div class="circle2" ></div>
<div class="circle3" ></div>
<div class="circle4" ></div>
</div>

<div style="float: left;"> 
<div class="events1">
<p>Event Inaguration</p> 
</div>
<div class="events2">
<p>Guest Speech </p> 
</div>
<div class="events3">
<p>Lunch</p>  </div>
<div class="events4">
<p>Prize Distribution </p> </div>
</div>

<div > 
<div class="joinnow1"><button  style="cursor: pointer;"><pre>Join Now</pre> </button> </div>
<div class="joinnow2"><button  style="cursor: pointer;"><pre>Join Now</pre> </button> </div>
<div class="joinnow3"><button style="cursor: pointer;"><pre>Join Now</pre></button> </div>
<div class="joinnow4"><button  style="cursor: pointer;"><pre>Join Now</pre> </button> </div>
<br><br></div>
</div>


</div>
<br>
<img src="../assets/5.png" style="margin-left: -37px;">

<div class="footer" style="background-color: #151A2C; height: 1600px; width: 360px;">

    <div style=" font-size: 130%;" >
<pre style="color: whitesmoke; margin-top:30px">
It is a long established fact that 
a reader will be distracted by
the readable content of a page 
when looking at its layout. The
point of using Lorem Ipsum is
that it has a more
      </pre>
    </div>
    <div >
     
        <ul style="font-size:130%;  ">
          <li><b>Service</b></li><br>
          <li><a href="#">Investor</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Service Providers</a></li>
          <li><a href="#">Vendors</a></li>
          <li><a href="#">Volunteer's</a></li>
          <li><a href="#">NGO's</a></li>
        </ul>
    
    </div>
    <div>
      <ul style="font-size:130%;">
        <li><b>Company</b></li><br>
        <li><a href="#">Service</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div >
     <p style="font-size:130%;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
      <br>
      <form>
        <label for="">Your Email</label><br><br><br>
        <input type="email" placeholder="                      Enter Your Email"><br><br><br>
        <button>Subscribe</button>
      </form><br><br>
     
    </div><br>
  <div style="border-top: 2px solid rgb(0, 179, 255); width: 300px; margin-left: 30px;">
    <div >
        <img src="../assets/carbon_location.png" style="margin-left: -40px;width: 56px;">
        <p style="color: white; margin-top: -45px; margin-left: 30px;">
          8819 Ohio St. South Gate,
          CA 90280</p>
        </div>
        <div>
            <img src="../assets/fluent_call-32-regular.png"  style="width: 56px; margin-left: -40px;">
            <p style="color: white; margin-top: -40px; margin-left:30px;">+1 386-688-3295</p>
          </div>
</div>
    
    <!-- <div class="address">
    
    </div > 
    <div class="contactdetails" style="margin-left: 500px;">
    <div style="float: left;">
    <img src="../assets/location_on.png" style="margin-top: -5px;">
    <pre style="color: white; margin-top: -45px; margin-left: 40px;">
      8819 Ohio St. South Gate,
      CA 90280</pre>
    </div>
    <div style="float: left;">
      <img src="../assets/email.png">
      <p style="color: white; margin-left: 50px; margin-top: -40px;">Lorem Ipsum@gmail.com</p>
    </div>
    <div>
      <img src="../assets/call.png">
      <p style="color: white; margin-top: -40px; margin-left:590px;">+1 386-688-3295</p>
    </div>
    </div> -->
    
    </div>
